<div class="header">
  <div>
      <a class="nav"routerLink="/uhome" style="margin-top: 0%; background-color: whitesmoke;">Impetus Insurance </a>
      </div>

<div class="header-right">
  <a class="nav-link"routerLink="/contact1">Contact Us</a>
  <a class="nav-link"routerLink="/about1">About Us</a>
  <a class="nav-link"routerLink="/login">Logout</a>
</div>



<h1 style="margin-left: 10px; font-size: x-large; font-weight: 900; color: beige; font-family:'Arial Narrow', sans-serif;"><span style="color: rgb(0, 0, 0); padding-top: 3px;" >Welcome, {{finalNameOfUser}}</span></h1>
 <marquee  style=" margin-top:25px; font-size: x-large; font-family: sans-serif; padding-bottom:2px;" >

  Dear user, If you have already submitted an application form then please check your registered email for the status and other details of your application
    </marquee>  
</div>
<section class="home">

    <img src="https://image.freepik.com/free-photo/adult-children-hands-holding-paper-family-cutout-family-home_49149-814.jpg" alt="" style="width: 100%; height: 100%; margin-top: 5px;">
 
 
 
    <div class="homecontent" style="margin-top: 4%;">
 
      <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bolder; font-size: 300%;">You are doing this for yourself, and for your lovedones</h1>
 
    <button style="margin-top: 3%;" class="btn btn-primary btn-lg">
 
     <a class="abc"routerLink="/service1">
 
     Browse our Services</a></button>
 
     <h1 style="margin-top: 5%; font-weight: 600; font-family: cursive; margin-right: 5%;">Dear user, If you have already submitted an application form then please check your registtered email for the status and other details of your application</h1>
 
   <h1 style="font-weight: 600; font-family: cursive; margin-right: 5%;">Regards,</h1>
 
   <h1 style="font-weight: 600; font-family: cursive; margin-right: 5%;">Impetus Insurance</h1>
 
   </div>
 
  </section>
   
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
  <div class="footer-dark">
   <footer>
       <div class="container">
           <div class="row">
             <div class="col-sm-6 col-md-3 item">
               <a  routerLink="/service1" style="text-decoration: none; color: white; scroll-behavior: auto;">Services</a>
               <ul>
                   <li>Life Insurance</li>
                   <li>Dental & Vision Insurance</li>
                   <li> Dental Insurance</li>
               </ul>
           </div>
               <div class="col-sm-6 col-md-3 item">
                   <h3>Know Us</h3>
                   <ul>
                       <li><a class="nav"routerLink="/about1">About Us</a></li>
                       <!--<li><a class="nav"routerLink="/signup">Create Account</a></li>-->
                       <li><a class="nav"routerLink="/contact1">Contact Us</a></li>
                   </ul>
               </div>
               <div class="col-md-6 item text">
                   <h3>Impetus Insurance</h3>
                   <p>
                       Understand the value of harmonious relationship based on trust, respect and other naturally acceptable feelings in human-human relationships and explore their role in ensuring a harmonious society
                       Understand the harmony in nature and existence, and work out their mutually fulfilling participation in the nature.
                   </p>
               </div>
           </div>
           <p class="copyright">All Copyright Reserved by Impetus © 2021</p>
       </div>
   </footer>