<div class="header">
  <div>
      <a class="nav"routerLink="/uhome" style="margin-top: 0%; background-color: whitesmoke;">Impetus Insurance </a>
      </div>

<div class="header-right">
  <a class="nav-link"routerLink="/contact1">Contact Us</a>
  <a class="nav-link"routerLink="/about1">About Us</a>
  <a class="nav-link"routerLink="/login">Logout</a>
</div>



<h1 style=" text-align: center;  font-size: x-large; font-weight: 900; color: beige; font-family:'Arial Narrow', sans-serif;"><span style="color: rgb(0, 0, 0); padding-top: 3px;" >Welcome, {{finalNameOfUser}}</span></h1>
 <marquee  style=" margin-top:25px; font-size: x-large; font-family: sans-serif; padding-bottom:2px; color: red;" >

  Dear user, If you have already submitted an application form then please check your registered email for the status and other details of your application
    </marquee>  
</div>



<div class="container" style="margin-top: 30px;">
    <div style="background-color: rgb(70, 145, 216); color: white; border-radius: 5px; height: 100px; margin: 30px; padding: 20px;">
       <h1 style="font-size: xx-large;" >Our Services</h1>
    </div>
    <div class="row" style="margin: 30px;">
            <div class="col-lg-4"  style="margin-top:20px;">
            <div class="card" style="width: 20rem; height:100%; text-align: justify;">
                <img src="https://www.investopedia.com/thmb/viBNVw3kkRcZ42ExSeXK8VLq6nE=/680x440/filters:fill(auto,1)/how_does_dental_insurance_work-5bfc374b46e0fb0026046d84.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h2 class="card-title">Dental Service</h2>
                <p class="card-text">
  
                 Most health insurance companies in India do not provide any coverage for dental procedures as they fall under the cosmetic treatment category but as the uncertainties are increasing you need a dental Insurance also. 
                 You Can Apply in our company For Dental Insurance With Lot's of Attractive Plans.
  
  
                    </p>
                    <br>
  
                    <a class="btn btn-success"routerLink="/dental">Apply</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4" style="margin-top: 20px;">
            <div class="card" style="width: 20rem; height:100%; text-align: justify;">
                <img src="https://i.pinimg.com/736x/5b/ce/70/5bce70168ccbfaf62d89520d78763368.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h2 class="card-title">Life Service</h2>
                <p class="card-text">With uncertainties increasing all around, life insurance is proving to be an ultimate lifeline. Having an insurance cover ensures that the dependents of the bread-winner of the family do not suffer financially in their absence. Apply In Our Company by Paying a Minimal Premium amount Every Year and get maximum Returns.</p>
                <br>
                <a class="btn btn-success"routerLink="/life">Apply</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4" style="margin-top: 20px;">
            <div class="card" style="width: 20rem; height:100%; text-align: justify;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUWp41pk3Lzh9Yz10aAHZ9SMtXYfgAk_XHUaWICXox1kQKB_kPgOCDBE26XMdvWXxGCjg&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                <h2 class="card-title">Vision & dental</h2>
                <p class="card-text">
                    Vision insurance and vision benefits plans typically cover the cost of an annual eye exam and prescription eyeglasses and/or contact lenses, vision plans also offer discounts on elective vision correction surgery, such as LASIK and PRK.
  
  
                    You Can Apply For both Vision and Dental Insurance with this combo requires less and give you More.
  
                    </p><br>
                <a class="btn btn-success"routerLink="/denvi">Apply</a>
                </div>
            </div>
        </div>
  
   </div>
  
  </div>
  <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-md-3 item">
                      <a  routerLink="/service1" style="text-decoration: none; color: white; scroll-behavior: auto;"><b>Services</b></a>
                      <ul>
                          <li>Life Insurance</li>
                          <li>Dental & Vision Insurance</li>
                          <li>Dental Insurance</li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-3 item">
                      <h3>Know Us</h3>
                      <ul>
                          <li><a class="nav"routerLink="/about1">About Us</a></li>
                         <!--<li><a class="nav"routerLink="/signup">Create Account</a></li>-->
                          <li><a routerLink="nav" routerLink="/contact1">Contact Us</a></li> 
                      </ul>
                  </div>
                  <div class="col-md-6 item text">
                      <h3>Impetus Insurance</h3>
                      <p>
                          Understand the value of harmonious relationship based on trust, respect and other naturally acceptable feelings in human-human relationships and explore their role in ensuring a harmonious society
                          Understand the harmony in nature and existence, and work out their mutually fulfilling participation in the nature.
                      </p>
                  </div>
              </div>
              <p class="copyright">All Copyright Reserved by Impetus © 2021</p>
          </div>
      </footer>
    </div>