<section class="tabsWrapper clearfix disPlanContent" style="">
    <!-- Tabs -->
    <div class="tabs health_tab">
        <ul>
            <li class="active"><a href="javascript:void(0)" data-class="top_plans">Compare Plans</a></li>
        </ul>
        <div style="text-align:right;">
            <button class="btn btnCheckPremium" data-planname="Complete Healthcare Insurance Essential" style="background-color: rgb(246, 75, 53); height: 37px;">    <a style="color: white;" class="nav-link" routerLink="/home">Back</a></button></div>
        
    </div>

    <!-- Tabs -->
    <!-- Tabs Details -->
    <div class="tabsDetails top_plans">
        <!-- Card -->
                <div class="card">
                    <div class="insurer_card_top">
                        <!-- <div class="logo_top 1">
                        <span class="logo-widget widget-insurer-logo religare_health_general_icon"></span>
                            
                        </div> -->

                        <div class="titleh6">
                            <div>Impetus Dental Health</div>
                            <span>Super Premium</span>
                        </div>
                    </div><div class="tag_tabs" style="background-color:rgb(246, 155, 8); font-size: larger;">Individual</div>
                    <div class="topFeatures">
                        <div class="planFeatures"><!-- Feature Block -->
                                <div class="featuresBlock">
                                    <i class="featuresIcon" data-icon="Room rent limit"></i>
                                    <div>
                                        <p>Age Criterion</p>
                                            Age Between 18-30 Years
                                    </div>
                                </div>
                                <div class="featuresBlock">
                                    <i class="featuresIcon" data-icon="Room rent limit"></i>
                                    <div>
                                        <p>Covrage Limit</p>
                                            Covers You Upto ₹ 5,00,000. 
                                    </div>
                                </div>
                                <!-- Feature Block --><!-- Feature Block -->
                                <div class="featuresBlock">
                                    <i class="featuresIcon" data-icon="No claim bonus"></i>
                                    <div>
                                        <p>No claim bonus</p>
                                            Health cover will increase every year and by upto
                                             150% in 5 years as a reward for no claims
                                    </div>
                                </div>
                                <!-- Feature Block --></div>
                            <div class="allOtherFeatures hide">
                        <div class="planFeatures expandedView"> 
                        <div class="hideBig featureTitleMob">
                            

                            <div class="insurer_card_top">
                                <!-- <div class="logo_top 1">
								<span class="logo-widget widget-insurer-logo religare_health_general_icon"></span>
									
								</div> -->

                                <div class="titleh6">
                                    <div>Care Health</div>
                                    <span>NCB Super Premium</span>
                                </div>
                            </div><div class="tag_tabs" style="background-color:rgb(246, 155, 8); font-size: larger;">Individual</div>
<a href="javascript:void(0);" class="hideAllFeature closeIcon">Close</a>                          
                        </div>
                        <!-- Feature Block -->
                                <div class="featuresBlock">
                                    <i class="featuresIcon" data-icon="Room rent limit"></i>
                                    <div>
                                        <p>Room rent limit</p>
                                Up to single private room permissible for hospitalization in this plan. ICU Charges - No Limit
                                    </div>
                                </div>
                                <!-- Feature Block --><!-- Feature Block -->
                                <div class="featuresBlock">
                                    <i class="featuresIcon" data-icon="Restoration of cover"></i>
                                    <div>
                                        <p>Restoration of cover</p>
                                Full reinstatement of Sum Insured for a non-related illness if the original sum insured + no claim bonus exhausted once in policy year
                                    </div>
                                </div>
                                <!-- Feature Block -->
                            <div class="check_premium_expand priceBtn clearfix">
                                <div class="price">
                                    <span>Starting at</span>
                                    ₹ 13,568/month
                                </div>
                                <button class="btn btnCheckPremium" data-planname="NCB Super Premium" data-planid="302" data-childmaxage="23" (click)="onOpenDialogClick()">Check Premium</button>
                            </div>
                        </div>
                    </div>
                        <div class="featuresActionBar clearfix">
                            <!--<div class="allFeatures">
                                <a href="javascript:void(0);" class="viewAllFeature">View all features</a>
                                <a href="javascript:void(0);" class="hideAllFeature">Hide features</a>
                            </div>-->
                            <div class="priceBtn clearfix">
                                <div class="price">
                                    <span>Starting at</span>
                                    ₹ 13,568/month
                                </div>
                                <button class="btn btnCheckPremium" data-planname="NCB Super Premium" data-planid="302" data-childmaxage="23" (click)="onOpenDialogClick()">Check Premium</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- Card --><!-- Card -->
                <div class="card">
                    <div class="insurer_card_top">
                        <!-- <div class="logo_top 1">
                        <span class="logo-widget widget-insurer-logo max_bupa_life_icon"></span>
                            
                        </div> -->

                        <div class="titleh6">
                            <div>Impetus Dental Family Companion</div>
                            <span>Health Companion</span>
                        </div>
                    </div><div class="tag_tabs" style="background-color:rgb(246, 155, 8); font-size: larger;">Individual and Spouse</div>
                    <div class="topFeatures">
                        <div class="planFeatures"><!-- Feature Block -->
                                <div class="featuresBlock">
                                    <i class="featuresIcon" data-icon="Room rent limit"></i>
                                    <div>
                                        <p>Age Criterion</p>
                                            Age Between 18-30 Years
                                    </div>
                                </div>
                                <div class="featuresBlock">
                                    <i class="featuresIcon" data-icon="Room rent limit"></i>
                                    <div>
                                        <p>Covrage Limit</p>
                                            Covers You Upto ₹ 5,00,000. 
                                    </div>
                                </div>

                                <!-- Feature Block --><!-- Feature Block -->
                                <div class="featuresBlock">
                                    <i class="featuresIcon" data-icon="No claim bonus"></i>
                                    <div>
                                        <p>No claim bonus</p>
                                            Under this policy, your no claim bonus will increase by 20% every non-claim year maximum upto 100% and your accumulated bonus will not be reduced, even in the scenerio of a claim.
                                    </div>
                                </div>
                                <!-- Feature Block --></div>
                            <div class="allOtherFeatures hide">
                        <div class="planFeatures expandedView"> 
                        <div class="hideBig featureTitleMob">
                            

                            <div class="insurer_card_top">
                                <!-- <div class="logo_top 1">
								<span class="logo-widget widget-insurer-logo max_bupa_life_icon"></span>
									
								</div> -->

                                <div class="titleh6">
                                    <div>Impetus Dental Family Companion</div>
                                    <span>Health Companion</span>
                                </div>
                            </div><div class="tag_tabs" style="background-color:rgb(246, 155, 8); font-size: larger;" >Individual</div>
<a href="javascript:void(0);" class="hideAllFeature closeIcon">Close</a>                          
                        </div>
                        <!-- Feature Block -->
                                <div class="featuresBlock">
                                    <i class="featuresIcon" data-icon="Room rent limit"></i>
                                    <div>
                                        <p>Room rent limit</p>
                                All Categories ;Except suite and above
                                    </div>
                                </div>
                                <!-- Feature Block --><!-- Feature Block -->
                                <div class="featuresBlock">
                                    <i class="featuresIcon" data-icon="Restoration of cover"></i>
                                    <div>
                                        <p>Restoration of cover</p>
                                Full reinstatement of Sum Insured for a non-related illness if the original sum insured exhausted once in policy year
                                    </div>
                                </div>
                                <!-- Feature Block -->
                            <div class="check_premium_expand priceBtn clearfix">
                                <div class="price">
                                    <span>Starting at</span>
                                    ₹ 24,700/month
                                </div>
                                <button class="btn btnCheckPremium" data-planname="Health Companion" data-planid="319" data-childmaxage="20" (click)="onOpenDialogClick()">Check Premium</button>
                            </div>
                        </div>
                    </div>
                        <div class="featuresActionBar clearfix">
                            <!--<div class="allFeatures">
                                <a href="javascript:void(0);" class="viewAllFeature">View all features</a>
                                <a href="javascript:void(0);" class="hideAllFeature">Hide features</a>
                            </div>-->
                            <div class="priceBtn clearfix">
                                <div class="price">
                                    <span>Starting at</span>
                                    ₹ 24,700/month
                                </div>
                                <button class="btn btnCheckPremium" data-planname="Health Companion" data-planid="319" data-childmaxage="20" (click)="onOpenDialogClick()">Check Premium</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- Card --><!-- Card -->
                <div class="card">
                    <div class="insurer_card_top">
                        <!-- <div class="logo_top 1">
                        <span class="logo-widget widget-insurer-logo star_health_general_icon"></span>
                            
                        </div> -->

                        <div class="titleh6">
                            <div>Impetus Complete Family </div>
                            <span>Medi Classic</span>
                        </div>
                    </div><div class="tag_tabs" style="background-color:rgb(246, 155, 8); font-size: larger;">Individual</div>
                    <div class="topFeatures">
                        <div class="planFeatures"><!-- Feature Block -->
                                <div class="featuresBlock">
                                    <i class="featuresIcon" data-icon="Room rent limit"></i>
                                    <div>
                                        <p>Age Criterion</p>
                                            Age Between 18-30 Years
                                    </div>
                                </div>
                                <div class="featuresBlock">
                                    <i class="featuresIcon" data-icon="Room rent limit"></i>
                                    <div>
                                        <p>Covrage Limit</p>
                                            Covers You Upto ₹ 10,00,000. 
                                    </div>
                                </div>
                                <!-- Feature Block --><!-- Feature Block -->
                                <div class="featuresBlock">
                                    <i class="featuresIcon" data-icon="No claim bonus"></i>
                                    <div>
                                        <p>No claim bonus</p>
                                            5% increase in Sum Insured (max 25% and 5% decrease in case of claim)
                                    </div>
                                </div>
                                <!-- Feature Block --></div>
                            <div class="allOtherFeatures hide">
                        <div class="planFeatures expandedView"> 
                        <div class="hideBig featureTitleMob">
                            

                            <div class="insurer_card_top">
                                <!-- <div class="logo_top 1">
								<span class="logo-widget widget-insurer-logo star_health_general_icon"></span>
									
								</div> -->

                                <div class="titleh6">
                                    <div>Impetus Complete Family </div>
                                    <span>Medi Classic</span>
                                </div>
                            </div><div class="tag_tabs" style="background-color:rgb(246, 155, 8); font-size: larger;" (click)="onOpenDialogClick()">Individual</div>
<a href="javascript:void(0);" class="hideAllFeature closeIcon">Close</a>                          
                        </div>
                        <!-- Feature Block -->
                                <div class="featuresBlock">
                                    <i class="featuresIcon" data-icon="Room rent limit"></i>
                                    <div>
                                        <p>Room rent limit</p>
                                Upto 5K/day 
                                    </div>
                                </div>
                                <!-- Feature Block --><!-- Feature Block -->
                                <div class="featuresBlock">
                                    <i class="featuresIcon" data-icon="Restoration of cover"></i>
                                    <div>
                                        <p>Restoration of cover</p>
                                Reinstatement of Twice the Sum Insured for a non-related illness if the original sum insured + no claim bonus exhausted once in policy year
                                    </div>
                                </div>
                                <!-- Feature Block -->
                            <div class="check_premium_expand priceBtn clearfix">
                                <div class="price">
                                    <span>Starting at</span>
                                    ₹ 53,200/Year
                                </div>
                                <button class="btn btnCheckPremium" data-planname="Medi Classic" data-planid="35" data-childmaxage="0" (click)="onOpenDialogClick()">Check Premium</button>
                            </div>
                        </div>
                    </div>
                        <div class="featuresActionBar clearfix">
                            <!--<div class="allFeatures">
                                <a href="javascript:void(0);" class="viewAllFeature">View all features</a>
                                <a href="javascript:void(0);" class="hideAllFeature">Hide features</a>
                            </div>-->
                            <div class="priceBtn clearfix">
                                <div class="price">
                                    <span>Starting at</span>
                                    ₹ 53,200/Year
                                </div>
                                <button class="btn btnCheckPremium" data-planname="Medi Classic" data-planid="35" data-childmaxage="0" (click)="onOpenDialogClick()">Check Premium</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- Card --><div class="moreCard all">
                        <!-- See More Plans -->
                    <!-- Card -->
                    <div class="card">
                        
                        <div class="insurer_card_top">
                            <!-- <div class="logo_top 1">
							<span class="logo-widget widget-insurer-logo aditya_birla_capital_general_icon"></span>
								
							</div> -->

                            <div class="titleh6">
                                <div>Impetus Life Insurance</div>
                                <span>Activ Assure -Silver</span>
                            </div>
                        </div><div class="tag_tabs" style="background-color:rgb(246, 155, 8); font-size: larger;" (click)="onOpenDialogClick()">Individual</div>
                        <div class="topFeatures">
                            <div class="planFeatures">
                    <!-- Feature Block -->
                    <div class="featuresBlock">
                        <i class="featuresIcon" data-icon="Room rent limit"></i>
                        <div>
                            <p>Age Criterion</p>
                                Age Between 30-45 Years
                        </div>

                    </div>
                    <div class="featuresBlock">
                        <i class="featuresIcon" data-icon="Room rent limit"></i>
                        <div>
                            <p>Covrage Limit</p>
                                Covers You Upto ₹ 10,00,000. 
                        </div>
                    </div>
                    <!-- Feature Block -->
                    <!-- Feature Block -->
                    <div class="featuresBlock">
                        <i class="featuresIcon" data-icon="No claim bonus"></i>
                        <div>
                            <p>No claim bonus</p>
                            10% of SI per annum, max up to 50% of SI
                        </div>
                    </div>
                    <!-- Feature Block -->
                            </div>
                            <div class="featuresActionBar clearfix">
                                <!--<div class="allFeatures">
                                    <a href="javascript:void(0);" class="viewAllFeature">View all features</a>
                                </div>-->
                                <div class="priceBtn clearfix">
                                    <div class="price">
                                        <span>Starting at</span>
                                        ₹ 23,760/Year
                                    </div>
                                    <button class="btn btnCheckPremium" data-planname="Activ Assure - Diamond" data-planid="434" data-childmaxage="24" (click)="onOpenDialogClick()">Check Premium</button>
                                </div>
                            </div>
                        </div>
                        <div class="allOtherFeatures hide">
                            <div class="planFeatures expandedView"><!-- Feature Block -->
                                    <div class="featuresBlock">
                                        <i class="featuresIcon" data-icon="Room rent limit"></i>
                                        <div>
                                            <p>Room rent limit</p>
                                            Up to single private room permissible for hospitalization in this plan, ICU Charges upto SI
                                        </div>
                                    </div>
                                    <!-- Feature Block --><!-- Feature Block -->
                                    <div class="featuresBlock">
                                        <i class="featuresIcon" data-icon="Restoration of cover"></i>
                                        <div>
                                            <p>Restoration of cover</p>
                                            Reinstatement of 150% of Sum Insured for a non-related illness if the original sum insured gets exhausted in a year
                                        </div>
                                    </div>
                                    <!-- Feature Block --></div>
                            <div class="featuresActionBar clearfix">
                                <div class="allFeatures hideFeatures">
                                    <a href="javascript:void(0);" class="hideAllFeature">Hide features</a>
                                </div>
                                <div class="priceBtn clearfix">
                                    <div class="price">
                                        <span>Starting at</span>
                                        ₹ 23,760/Year
                                    </div>
                                    <button class="btn btnCheckPremium" data-planname="Activ Assure - Diamond" data-planid="434" data-childmaxage="24" (click)="onOpenDialogClick()">Check Premium</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card -->
                    <!-- Card -->
                    <div class="card">
                        
                        <div class="insurer_card_top">
                            <!-- <div class="logo_top 1">
							<span class="logo-widget widget-insurer-logo digit_general_icon"></span>
								
							</div> -->

                            <div class="titleh6">
                                <div>Impetus Companion Protection</div>
                                <span>Super Care Option</span>
                            </div>
                        </div><div class="tag_tabs" style="background-color:rgb(246, 155, 8); font-size: larger;" (click)="onOpenDialogClick()">Individual and Spouse</div>
                        <div class="topFeatures">
                            <div class="planFeatures">
                    <!-- Feature Block -->
                    <div class="featuresBlock">
                        <i class="featuresIcon" data-icon="Room rent limit"></i>
                        <div>
                            <p>Age Criterion</p>
                                Age Between 18-30 Years
                        </div>

                    </div>
                    
  <div class="featuresBlock">
    <i class="featuresIcon" data-icon="Room rent limit"></i>
    <div>
        <p>Covrage Limit</p>
            Covers You Upto ₹ 10,00,000. 
    </div>
</div>
                    <!-- Feature Block -->
                    <!-- Feature Block -->
                    <div class="featuresBlock">
                        <i class="featuresIcon" data-icon="No claim bonus"></i>
                        <div>
                            <p>No claim bonus</p>
                            Incremental cover up to 5% of sum insured added for every claim free year max upto 50%.
                        </div>
                    </div>
                    <!-- Feature Block -->
                            </div>
                            <div class="featuresActionBar clearfix">
                                <!--<div class="allFeatures">
                                    <a href="javascript:void(0);" class="viewAllFeature">View all features</a>
                                </div>-->
                                <div class="priceBtn clearfix">
                                    <div class="price">
                                        <span>Starting at</span>
                                        ₹ 38000/Year
                                    </div>
                                    <button class="btn btnCheckPremium" data-planname="Super Care Option" data-planid="573" data-childmaxage="24" (click)="onOpenDialogClick()">Check Premium</button>
                                </div>
                            </div>
                        </div>
                        <div class="allOtherFeatures hide">
                            <div class="planFeatures expandedView"><!-- Feature Block -->
                                    <div class="featuresBlock">
                                        <i class="featuresIcon" data-icon="Room rent limit"></i>
                                        <div>
                                            <p>Room rent limit</p>
                                            All Categories
                                        </div>
                                    </div>
                                    <!-- Feature Block --><!-- Feature Block -->
                                    <div class="featuresBlock">
                                        <i class="featuresIcon" data-icon="Restoration of cover"></i>
                                        <div>
                                            <p>Restoration of cover</p>
                                            Reinstatement of Sum insured once in a year for a non-related illness
                                        </div>
                                    </div>
                                    <!-- Feature Block --></div>
                            <div class="featuresActionBar clearfix">
                                <div class="allFeatures hideFeatures">
                                    <a href="javascript:void(0);" class="hideAllFeature">Hide features</a>
                                </div>
                                <div class="priceBtn clearfix">
                                    <div class="price">
                                        <span>Starting at</span>
                                        ₹ 38000,year
                                    </div>
                                    <button class="btn btnCheckPremium" data-planname="Super Care Option" data-planid="573" data-childmaxage="24" (click)="onOpenDialogClick()">Check Premium</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card -->
                    <!-- Card -->
                    <div class="card">
                        
                        <div class="insurer_card_top">
                            <!-- <div class="logo_top 1">
							<span class="logo-widget widget-insurer-logo royal_sundaram_general_icon"></span>
								
							</div> -->

                            <div class="titleh6">
                                <div>Impetus Family Life Protection</div>
                                <span>Lifeline Supreme</span>
                            </div>
                        </div><div class="tag_tabs" style="background-color:rgb(246, 155, 8); font-size: larger;">Individual,Spouse and Child</div>
                        <div class="topFeatures">
                            <div class="planFeatures">
                    <!-- Feature Block -->
                    <div class="featuresBlock">
                        <i class="featuresIcon" data-icon="Room rent limit"></i>
                        <div>
                            <p>Age Criterion</p>
                                Age Between 18-30 Years
                        </div>
                    </div>
                    <div class="featuresBlock">
                        <i class="featuresIcon" data-icon="Room rent limit"></i>
                        <div>
                            <p>Covrage Limit</p>
                                Covers You Upto ₹ 10,00,000. 
                        </div>
                    </div>
                    <!-- Feature Block -->
                    <!-- Feature Block -->
                    <div class="featuresBlock">
                        <i class="featuresIcon" data-icon="No claim bonus"></i>
                        <div>
                            <p>No claim bonus</p>
                            Rs 1,00,000 increase in Sum Insured (max Rs 5,00,000)
                        </div>
                    </div>
                    <!-- Feature Block -->
                            </div>
                            <div class="featuresActionBar clearfix">
                                <!--<div class="allFeatures">
                                    <a href="javascript:void(0);" class="viewAllFeature">View all features</a>
                                </div>-->
                                <div class="priceBtn clearfix">
                                    <div class="price">
                                        <span>Starting at</span>
                                        ₹ 53,200/Year
                                    </div>
                                    <button class="btn btnCheckPremium" data-planname="Lifeline Supreme" data-planid="346" data-childmaxage="0" (click)="onOpenDialogClick()">Check Premium</button>
                                </div>
                            </div>
                        </div>
                        <div class="allOtherFeatures hide">
                            <div class="planFeatures expandedView"><!-- Feature Block -->
                                    <div class="featuresBlock">
                                        <i class="featuresIcon" data-icon="Room rent limit"></i>
                                        <div>
                                            <p>Room rent limit</p>
                                            You get an option to choose any room during hospitalization
                                        </div>
                                    </div>
                                    <!-- Feature Block --><!-- Feature Block -->
                                    <div class="featuresBlock">
                                        <i class="featuresIcon" data-icon="Restoration of cover"></i>
                                        <div>
                                            <p>Restoration of cover</p>
                                            Full reinstatement of Sum Insured for a non-related illness if the original sum insured exhausted once in policy year
                                        </div>
                                    </div>
                                    <!-- Feature Block --></div>
                            <div class="featuresActionBar clearfix">
                                <div class="allFeatures hideFeatures">
                                    <a href="javascript:void(0);" class="hideAllFeature">Hide features</a>
                                </div>
                                <div class="priceBtn clearfix">
                                    <div class="price">
                                        <span>Starting at</span>
                                        ₹ 449/month
                                    </div>
                                    <button class="btn btnCheckPremium" data-planname="Lifeline Supreme" data-planid="346" data-childmaxage="0" (click)="onOpenDialogClick()">Check Premium</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card -->
                    <!-- Card -->
                    <div class="card">
                        
                        <div class="insurer_card_top">
                            <!-- <div class="logo_top 1">
							<span class="logo-widget widget-insurer-logo raheja_qbe_general_icon"></span>
								
							</div> -->

                            <div class="titleh6">
                                <div>Impetus Dental and Vision Combo</div>
                                <span>Total Sanjeevani</span>
                            </div>
                        </div><div class="tag_tabs"style="background-color:rgb(246, 155, 8); font-size: larger;">Individual</div>
                        <div class="topFeatures">
                            <div class="planFeatures">
                    <!-- Feature Block -->
                    <div class="featuresBlock">
                        <i class="featuresIcon" data-icon="Room rent limit"></i>
                        <div>
                            <p>Age Criterion</p>
                                Age Between 18-30 Years
                        </div>
                    </div>
                    <div class="featuresBlock">
                        <i class="featuresIcon" data-icon="Room rent limit"></i>
                        <div>
                            <p>Covrage Limit</p>
                                Covers You Upto ₹ 10,00,000. 
                        </div>
                    </div>
                    <!-- Feature Block -->
                    <!-- Feature Block -->
                    <div class="featuresBlock">
                        <i class="featuresIcon" data-icon="No claim bonus"></i>
                        <div>
                            <p>No claim bonus</p>
                            5% increase in Suminsured every year max 50% (reduction of 5% in cumulative bonus in case if claim is taked
                        </div>
                    </div>
                    <!-- Feature Block -->
                            </div>
                            <div class="featuresActionBar clearfix">
                                <!--<div class="allFeatures">
                                    <a href="javascript:void(0);" class="viewAllFeature">View all features</a>
                                </div>-->
                                <div class="priceBtn clearfix">
                                    <div class="price">
                                        <span>Starting at</span>
                                        ₹ 13,586/Year
                                    </div>
                                    <button class="btn btnCheckPremium" data-planname="Arogya Sanjeevani" data-planid="600" data-childmaxage="24" (click)="onOpenDialogClick()">Check Premium</button>
                                </div>
                            </div>
                        </div>
                        <div class="allOtherFeatures hide">
                            <div class="planFeatures expandedView"><!-- Feature Block -->
                                    <div class="featuresBlock">
                                        <i class="featuresIcon" data-icon="Room rent limit"></i>
                                        <div>
                                            <p>Room rent limit</p>
                                            Room Rent allowed is 2% of SI or Rs. 5000/day whichever is less; ICU charges  upto 5% or Rs 10000/day which ever is less
                                        </div>
                                    </div>
                                    <!-- Feature Block --><!-- Feature Block -->
                                    <div class="featuresBlock">
                                        <i class="featuresIcon" data-icon="Restoration of cover"></i>
                                        <div>
                                            <p>Restoration of cover</p>
                                            Restoration of SI is not covered
                                        </div>
                                    </div>
                                    <!-- Feature Block --></div>
                            <div class="featuresActionBar clearfix">
                                <div class="allFeatures hideFeatures">
                                    <a href="javascript:void(0);" class="hideAllFeature">Hide features</a>
                                </div>
                                <div class="priceBtn clearfix">
                                    <div class="price">
                                        <span>Starting at</span>
                                        ₹ 13,586/Year
                                    </div>
                                    <button class="btn btnCheckPremium" data-planname="Arogya Sanjeevani" data-planid="600" data-childmaxage="24" (click)="onOpenDialogClick()">Check Premium</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card -->
                    <!-- Card -->
                    <div class="card">
                        
                        <div class="insurer_card_top">
                            <!-- <div class="logo_top 1">
							<span class="logo-widget widget-insurer-logo universal_sompo_general_icon"></span>
								
							</div> -->

                            <div class="titleh6">
                                <div>Impetus Universal combo</div>
                                <span>Complete Healthcare Insurance Essential</span>
                            </div>
                        </div><div class="tag_tabs" style="background-color:rgb(246, 155, 8); font-size: larger;">Individual and Spouse</div>
                        <div class="topFeatures">
                            <div class="planFeatures">
                    <!-- Feature Block -->
                    <div class="featuresBlock">
                        <i class="featuresIcon" data-icon="Room rent limit"></i>
                        <div>
                            <p>Age Criterion</p>
                                Age Between 18-30 Years
                        </div>

                    </div>
                    <div class="featuresBlock">
                        <i class="featuresIcon" data-icon="Room rent limit"></i>
                        <div>
                            <p>Covrage Limit</p>
                                Covers You Upto ₹ 10,00,000. 
                        </div>
                    </div>
                    <!-- Feature Block -->
                    <!-- Feature Block -->
                    <div class="featuresBlock">
                        <i class="featuresIcon" data-icon="No claim bonus"></i>
                        <div>
                            <p>No claim bonus</p>
                            10% increase in Sum Insured (max 50% and 10% decrease in case of claim)
                        </div>
                    </div>
                    <!-- Feature Block -->
                            </div>
                            <div class="featuresActionBar clearfix">
                                <!--<div class="allFeatures">
                                    <a href="javascript:void(0);" class="viewAllFeature">View all features</a>
                                </div>-->
                                <div class="priceBtn clearfix">
                                    <div class="price">
                                        <span>Starting at</span>
                                        ₹ 38,000/Year
                                    </div>
                                    <button class="btn btnCheckPremium" data-planname="Complete Healthcare Insurance Essential" data-planid="342" data-childmaxage="24" (click)="onOpenDialogClick()">Check Premium</button>
                                </div>
                            </div>
                        </div>
                        <div class="allOtherFeatures hide">
                            <div class="planFeatures expandedView"><!-- Feature Block -->
                                    <div class="featuresBlock">
                                        <i class="featuresIcon" data-icon="Room rent limit"></i>
                                        <div>
                                            <p>Room rent limit</p>
                                            All Categories 
                                        </div>
                                    </div>
                                    <!-- Feature Block --><!-- Feature Block -->
                                    <div class="featuresBlock">
                                        <i class="featuresIcon" data-icon="Restoration of cover"></i>
                                        <div>
                                            <p>Restoration of cover</p>
                                            Full reinstatement of Sum Insured for a non-related illness if the original sum insured exhausted once in policy year
                                        </div>
                                    </div>
                                    <!-- Feature Block --></div>
                            <div class="featuresActionBar clearfix">
                                <div class="allFeatures hideFeatures">
                                    <a href="javascript:void(0);" class="hideAllFeature">Hide features</a>
                                </div>
                                <div class="priceBtn clearfix">
                                    <div class="price">
                                        <span>Starting at</span>
                                        ₹ 38000/Year
                                    </div>
                                    <button class="btn btnCheckPremium" data-planname="Complete Healthcare Insurance Essential" data-planid="342" data-childmaxage="24">Check Premium</button>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                 </div><!-- See More Plans -->
                        <!--<div class="card topPlans_seeMore seeMore hideBig"> <a href="javascript:void(0);" class="seeMorePlans">SEE MORE PLANS <span>›</span></a> </div>-->
                    <div style="text-align: center;">
                    <button class="btn btnCheckPremium" data-planname="Complete Healthcare Insurance Essential" style="background-color: rgb(246, 75, 53); height: 37px;">    <a style="color: white;" class="nav-link" routerLink="/home">Back</a></button>
                    </div></div></section>