<!--This is admin dashboard header which will shown after admin login-->

<mat-toolbar style="background-color:  #ff6600;">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home"></a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="#" style="margin-left: 200px;">Admin Dashboard</a>
            </li>
            <li>
                <a routerLink="#"></a>
            </li>
        </ul>
    </div>
</mat-toolbar>


<div class="row" style=" margin-left: 200px; margin-top: 50px; margin-right: 100px;">
    <div class="card">
        <h1 class="card-header" style="background-color: #ff6600; color: white;">Dental Service</h1>
        <div class="card-body">
           
            <p class="card-text">

                Most health insurance companies in India do not provide any coverage for dental procedures as
                they fall under the cosmetic treatment category but as the uncertainties are increasing you need
                a dental Insurance also. 
                You Can Apply in our company For Dental Insurance With Lot's of Attractive Plans.
            </p>
          <a routerLink="/detaldata" class="btn btn-primary" style="background-color: #ff6600; ">Cleck here to see application</a>
        </div>
      </div>
</div>


<div class="row" style=" margin-left: 200px; margin-top: 50px; margin-right: 100px;">
    <div class="card">
        <h1 class="card-header" style="background-color: #ff6600; color: white;">Life Service</h1>
        <div class="card-body">
        
            <p class="card-text">With uncertainties increasing all around, life insurance is proving to be an
                ultimate lifeline. Having an insurance cover ensures that the dependents of the bread-winner of
                the family do not suffer financially in their absence. Apply In Our Company by Paying a Minimal
                Premium amount Every Year and get maximum Returns.</p>
          <a routerLink="/lifedata" class="btn btn-primary" style="background-color: #ff6600; ">Cleck here to see application</a>
        </div>
      </div>
</div>



<div class="row" style=" margin-left: 200px; margin-top: 50px; margin-right: 100px;">
    <div class="card">
        <h1 class="card-header" style="background-color: #ff6600; color: white;">Vision & Dental</h1>
        <div class="card-body">
           
           
            <p class="card-text">
                Vision insurance and vision benefits plans typically cover the cost of an annual eye exam and
                prescription eyeglasses and/or contact lenses, vision plans also offer discounts on elective
                vision correction surgery, such as LASIK and PRK.


                You Can Apply For both Vision and Dental Insurance with this combo requires less and give you
                More.

            </p> <a  routerLink="/DVdata" class="btn btn-primary" style="background-color: #ff6600; ">Cleck here to see application</a>
        </div>
      </div>
</div>





 

 