<!--This is user login component-->
<div style=" height: 100%;   background: linear-gradient(to top left, #0099ff 0%, #000099 100%);">
  <div class="header">
  <div>
    <a class="nav" routerLink="/home" style="background-color: white;">Impetus Insurance</a>
  </div>
  <marquee width="20%" hieght="20%" hspace="150" direction="left" height="80px" style="padding-top: 15px;">
    Invest Today and Enjoy Tomorrow!
  </marquee>
  <div class="header-right">
    <a class="nav-link" routerLink="/home">Home</a>
    <a class="nav-link" routerLink="/service">Our Services</a>
    <a class="nav-link" routerLink="/contact">Contact Us</a>
    <a class="nav-link" routerLink="/about">About Us</a>
    <div class="dropdown">
      <button class="dropbtn">Login As</button>
      <div class="dropdown-content">
        <a class="nav-link1" routerLink="/login">User</a>
        <a class="nav-link1" routerLink="/uwlogin">UWriter</a>
        <a class="nav-link1" routerLink="/adlogin">Admin</a>
      </div>
    </div>
  </div>
</div>


 
  <div class="row" style="margin: 50px;">
     <div class="col" style="color:yellow; height: 100%; opacity: 0.6;">
      <section>
        <h1 style="font-size: 30px;">Welcome,</h1>
        <p style="font-size: 30px;">Please Sign in From Here</p>
        <br>
        <br>
        <ul style="font-size: 20px;">
          <li> Affordable Premiums</li>
          <br>
          <li>  1 Day Claim Settlement</li>
          <br>
          <li>  34 Critical Illnesses Cover</li>
          <br>
          <li>  Accidental Death Cover
            (Optional)</li>
          <br>
          <li>  Tax Benefits</li>
          <br>
          <li>   Terminal Illness Benefit</li>
          <br>
          <li>   Permanent Disability Waiver</li>
          <br>
        </ul>
      </section>
      
     </div>
     <div class="col" style="margin-right: 50px; margin-left: 70px;">
       
    
        <section style="background-color: rgb(0, 0, 0); border: 4px solid rgb(255, 255, 0);   border-radius: 20px; opacity: 0.6;">
   
      
   
                   <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" style="color: yellow;">Sign In</p>
   
   
                   <form #loginform="ngForm" (ngSubmit)="loginUser()" class="mx-1 mx-md-4">
   
                     <small class="text-danger">{{msg}}</small>
   
                     <div class="d-flex flex-row align-items-center mb-4">
                       <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                       <div class="form-outline flex-fill mb-0">
                         <label class="form-label" for="form3Example3c" style="color: yellow;">Your Email</label>
                         <input name="email" type="email" id="form3Example3c" class="form-control"
                           placeholder="Enter your email"  required="required"  #email="ngModel"
                            [(ngModel)]="user.emailId"  email="ngModel" [class.is.invalid]="email.invalid && email.touched"
                            pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" />
                         <small class="text-danger" [class.d-none]="email.valid || email.untouched">*Email is required
                           field.</small>
   
   
                       </div>
                     </div>
   
                     <div class="d-flex flex-row align-items-center mb-4">
   
                       <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
   
                       <div class="form-outline flex-fill mb-0">
   
                         <label class="form-label" for="form3Exam" style="color: yellow;">Password</label>
   
                         <input name="password" type="password" id="form3Example4c" class="form-control"
                           placeholder="Enter your password" required  #password="ngModel" [(ngModel)]="user.password"
                           password="ngModel"/>
   
                       </div>
   
                     </div>
   
                     <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
   
                       <button type="submit" class="btn btn-primary btn-lg" style="width: 100%;">Login</button>
                     </div>
   
                   </form>
   
                   <div class="row">
   
                     <label class="form-check-label col" for="form2Example88">
                       <button class="btn btn-link" routerLink="/signup">Don't have an account? Sign Up</button>
                       <br>
                     </label>
                     <br>
   
                     <label class="form-check-label col" for="form2Example3">
                       <button routerLink="/sendEmail" class="btn btn-link">Forgot password? Click Here</button>
   
                     </label>
   
   
                   </div>
   
                
   </section>
     
     </div>
  </div>

</div>



