.my-class{

    width: 100px!important;

    height: 50px;
    margin-left: 25px;
    min-width: unset!important;

}

.my-button{

    width: 100px!important;

    height: 55px;

    min-width: unset!important;

}

.alert{

    width: 95%;

}