<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo" style="border:3px solid #ff6600; border-radius:100%; height:130px;width: 130px; background-color: white; margin-left: 30px;">
                    <h1 style="text-align: center; margin-top: 38%;">{{finalShort}}</h1>
                </div>
                <div class="navi" style="margin-top: 20px;">
                    <ul>
                        <li class="active"><a  routerLink="/service1"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm" style="color:#ff6600;"><b>Home</b></span></a></li>
                        <li><a routerLink="/ComparePlans" ><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm" style="color:#ff6600;"><b>Compare Plans</b></span></a></li>
                        <li><a (click)="onOpenDialogClick()"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm" style="color:#ff6600;"><b>Calculate Premium Plans</b></span></a></li>
                        <li><a  routerLink="/details"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm" style="color:#ff6600;"><b>Applied Application</b></span></a></li>
                         <li><a routerLink="/login"><i class="fa fa-sign-out" aria-hidden="true"></i><span class="hidden-xs hidden-sm" style="color:#ff6600;"><b>LogOut</b></span></a></li>
                   
                    </ul>
                </div>
            </div>
            <div class="col ">
                 
                <div class="user-dashboard">
                    <h1>Hello, {{StartLetter}}</h1>
                    
                </div>
                
                <div class="row" style="margin: 40px;">
                    <div class="card">
                        <h1 class="card-header" style="background-color: #ff6600; color: white;">Dental Service</h1>
                        <div class="card-body">
                           
                            <p class="card-text">

                                Most health insurance companies in India do not provide any coverage for dental procedures as
                                they fall under the cosmetic treatment category but as the uncertainties are increasing you need
                                a dental Insurance also. 
                                You Can Apply in our company For Dental Insurance With Lot's of Attractive Plans.
                            </p>
                          <a routerLink="/dental" class="btn btn-primary">Apply</a>
                        </div>
                      </div>
                </div>


                <div class="row" style="margin: 40px;">
                    <div class="card">
                        <h1 class="card-header" style="background-color: #ff6600; color: white;">Life Service</h1>
                        <div class="card-body">
                        
                            <p class="card-text">With uncertainties increasing all around, life insurance is proving to be an
                                ultimate lifeline. Having an insurance cover ensures that the dependents of the bread-winner of
                                the family do not suffer financially in their absence. Apply In Our Company by Paying a Minimal
                                Premium amount Every Year and get maximum Returns.</p>
                          <a routerLink="/life" class="btn btn-primary">Apply</a>
                        </div>
                      </div>
                </div>



                <div class="row" style="margin: 40px;">
                    <div class="card">
                        <h1 class="card-header" style="background-color: #ff6600; color: white;">Vision & Dental</h1>
                        <div class="card-body">
                           
                           
                            <p class="card-text">
                                Vision insurance and vision benefits plans typically cover the cost of an annual eye exam and
                                prescription eyeglasses and/or contact lenses, vision plans also offer discounts on elective
                                vision correction surgery, such as LASIK and PRK.
        
        
                                You Can Apply For both Vision and Dental Insurance with this combo requires less and give you
                                More.
        
                            </p> <a  routerLink="/denvi" class="btn btn-primary">Apply</a>
                        </div>
                      </div>
                </div>

            </div>
        </div>
      

    </div>



  
   <div class="row">

   </div>
   <div class="row">

   </div>

</body>