<!--This is home component-->
  <div style=" background: linear-gradient(to top left, #ff6600 -31%, #ffffff 100%); height: 1450px;" >
    <div class="header" style="background-color: #ff6600; height: 70px;">
      <div>
        <a class="nav" routerLink="/home" style="margin-top: 0%; background-color: whitesmoke;">Impetus Insurance</a>
      </div>
      <marquee width="20%" hieght="20%" hspace="150" direction="left" height="80px">
        Invest Today and Enjoy Tomorrow!
      </marquee>
      <div class="header-right">
        <a class="nav-link" routerLink="/home">Home</a>
        <a class="nav-link" routerLink="/service">Our Services</a>
        <a class="nav-link" routerLink="/contact">Contact Us</a>
        <a class="nav-link" routerLink="/about">About Us</a>
        <!--a class="nav-link"routerLink="/login">LogIn</a>-->
        <div class="dropdown">
          <button class="dropbtn">Login As</button>
          <div class="dropdown-content">
            <a class="nav-link1" routerLink="/login">User</a>
            <a class="nav-link1" routerLink="/uwlogin">UWriter</a>
            <a class="nav-link1" routerLink="/adlogin">Admin</a>
          </div>
        </div>
      </div>
    </div>
    
   <div class="row"> 
     <div class="col">
      <div class="row">
          <div class="col" style="margin:30px ;"><img src="https://www.iciciprulife.com/content/icici-prudential-life-insurance/term-insurance-plans/assets_iPS_new/images/top_banner_desk.png" alt=""></div>
          <div class="col" style="margin-top: 30px;">
            <span style="color: #e06336; font-style: italic; font-size: 30px;">Protect the ones you
              love the most</span>
            <br><br><span style="color: #e06336; font-style: italic;">Life Cover + Multiple Benefits in 1 plan

              Trusted by over 3 cr families.</span><br><br>
            <span style="font: weight 1px;; color: #e06336; font-style: italic;">Buy online & get a 5% discount throughout your policy term.</span>
            </div>
          <div class="row">
            <div class="col" style="color: #e06336;"> <img src="https://www.iciciprulife.com/content/icici-prudential-life-insurance/term-insurance-plans/assets_iPS_new/images/desk_qg1.svg" alt="">Term Plan</div>
            <div class="col" style="color: #e06336;"> <img src="https://www.iciciprulife.com/content/icici-prudential-life-insurance/term-insurance-plans/assets_iPS_new/images/desk_qg2.svg" alt="">
              Benefits</div>
            <div class="col" style="color: #e06336;"><img src="https://www.iciciprulife.com/content/icici-prudential-life-insurance/term-insurance-plans/assets_iPS_new/images/desk_qg3.svg" alt="">
              Calculator</div>
          </div>  
      </div>
     </div>
     <div class="col" style=" margin: 50px;">
      <div class="row">
        <div class="col">
          <button type="button" (click)="onOpenDialogClick()" style="width: 150px; height: 150px; border-radius: 50%; margin-top: 10px; margin-left: 80px; border-width: 2px; background: linear-gradient(90.55deg,#e7873c 16.06%,#e06336 81.41%); border: #ff4400; color: rgb(255, 255, 255);">Calculate Your Policy</button>
           
        </div>
        <div class="col">
          <button type="button" routerLink='/ComparePlans' style="width: 150px; height: 150px; border-radius: 50%; margin-top: 10px; border-width: 2px; margin-right: 80px; background: linear-gradient(90.55deg,#e7873c 16.06%,#e06336 81.41%); border: #ff4400; color: rgb(255, 255, 255);">Compare Plans</button>
          
        </div>
      </div>
      <div class="row">
       <!-- <button type="button" routerLink='/ComparePlans' style="width: 150px; height: 150px; border-radius: 50%; margin-top: 10px; border-width: 2px; margin-left: 200px; background: linear-gradient(90.55deg,#e7873c 16.06%,#e06336 81.41%); border: #ff4400; color: rgb(255, 255, 255);">Compare Plans</button>
        -->  
      </div>
    </div>
   </div>

    <div class="row" style="margin: 100px;">
      <hr>
       <h1 style="text-align: center; color: #e06336;">Claim Settlement Process</h1>
      <div class="col" style="border: solid 3px #e06336; margin: 20px; border-radius: 40px; background-color: white; height: 300px; width: 50px;">
           <img src="https://www.iciciprulife.com/content/icici-prudential-life-insurance/term-insurance-plans/assets_iPS_new/images/Group-3194.svg" alt="" style="height: 80px; width: 80px; margin: 20px;">
           <h5>Step 1</h5>
           <h1 style="font-weight: bold;">Report Claim</h1>
          <p style="font-weight: bold;"> You can report your claims online,
            at our branches, at our central office, 
            on our central ClaimCare helpline, through SMS or e-mail</p>
          </div>
          <div class="col" style="border: solid 3px #e06336; margin: 20px; border-radius: 40px; background-color: white; height: 300px; width: 50px;">
            <img src="https://www.iciciprulife.com/content/icici-prudential-life-insurance/term-insurance-plans/assets_iPS_new/images/Group-3195.svg" alt="" style="height: 80px; width: 80px; margin: 20px;">
            <h5>Step 2</h5>
            <h1 style="font-weight: bold;">Process</h1>
           <p style="font-weight: bold;"> Our special ClaimCare team will assess your claim, 
            and inform you in case any further documents 
            need to be submitted</p>
           </div>
           <div class="col" style="border: solid 3px #e06336; margin: 20px; border-radius: 40px; background-color: white; height: 300px; width: 50px;">
            <img src="https://www.iciciprulife.com/content/icici-prudential-life-insurance/term-insurance-plans/assets_iPS_new/images/Group-3455.svg" alt="" style="height: 80px; width: 80px; margin: 20px;">
            <h5>Step 3</h5>
            <h1 style="font-weight: bold;"> Settle</h1>
           <p style="font-weight: bold;"> 
           
                Once your claim is intimated,
                and we receive all the relevant 
                documents, we will settle your claim
            </p>
           </div>

           <div>
             
           </div>
    </div>
    <div class="row" style="margin:50px ;">
      <hr>
      <h1 style=" font-size: 40px; margin-top: 20px; color: #e06336;">Steps  to buy</h1>
       <div class="col"  style=" border: solid 3px #e06336; margin: 20px; margin-top: 100px; border-radius: 40px; background-color: white; height: 80px; width: 150px;">
         
        <img src="https://www.iciciprulife.com/content/icici-prudential-life-insurance/term-insurance-plans/assets_iPS_new/images/steps_buy1.svg" alt="" style="height: 30px; width: 30px; padding: 5px;">
         <br>
        
          <p style="font-weight: bold;">Calculate Premium</p>
      </div>
      <div class="col"  style=" border: solid 3px #e06336; margin: 20px; margin-top: 100px; border-radius: 40px;  background-color: white; height: 80px; width: 150px;">
        <img src="https://www.iciciprulife.com/content/icici-prudential-life-insurance/term-insurance-plans/assets_iPS_new/images/steps_buy2.svg" alt="" style="height: 30px; width: 30px; padding: 5px;">
       <br>
        <p style="font-weight: bold;">Make payment &
          submit documents</p>
    </div>
    <div class="col"  style=" border: solid 3px #e06336; margin: 20px; margin-top: 100px; border-radius: 40px; background-color: white; height: 80px; width: 150px;">
      <img src="https://www.iciciprulife.com/content/icici-prudential-life-insurance/term-insurance-plans/assets_iPS_new/images/steps_buy3.svg" alt="" style="height: 30px; width: 30px; padding: 5px;">
     <br>
      <p style="font-weight: bold;">Complete medical
        check-up</p>
  </div>
  <div class="col"  style=" border: solid 3px #e06336; border-radius: 50%; background-color: white; height: 250px; ">
     <h2 style="margin: 35%;">Application Received</h2>
     
</div>

    </div>
    
  </div>
 



<div class="padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 ">
        <img
          src="https://images.pexels.com/photos/1367272/pexels-photo-1367272.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          height="300px" width="500px" />
      </div>
      <div class="col-sm-6 text-center">
        <h2>Our policy Values</h2>
        <p class="lead" style="text-align: justify;">Human values help students distinguish between values and skills,
          and understand the
          need, basic guidelines, content and process of value education.
          It help students initiate a process of dialog within themselves to know what
          they ‘really want to be’ in their life and profession
          and also help students understand the meaning of happiness and prosperity for a
          human being. </p>
        <p class="lead" style="text-align: justify;"> It facilitate the students to understand harmony at all the levels
          of human
          living, and live accordingly
          and facilitate the students in applying the understanding of harmony in
          existence in their profession and lead an ethical life
        </p>
      </div>
    </div>
  </div>

 
</div>


<div id="fixed">

</div>



<div class="padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img
          src="https://images.pexels.com/photos/6476587/pexels-photo-6476587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          height="300px" width="500px" />
      </div>
      <div class="col-sm-6 text-center">
        <h2>OUR OUTCOME</h2>
        <p class="lead" style="text-align: justify;"> Understand the significance of value inputs in a classroom,
          distinguish
          between values and skills, understand the need, basic guidelines, content and
          process of value education, explore the meaning of happiness and prosperity
          and do a correct appraisal of the current scenario in the society
          Distinguish between the Self and the Body, understand the meaning of
          Harmony in the Self the Co-existence of Self and Body.<br />

        </p>
        <p class="lead" style="text-align: justify;">
          Understand the value of harmonious relationship based on trust, respect and
          other naturally acceptable feelings in human-human relationships and
          explore their role in ensuring a harmonious society
          Understand the harmony in nature and existence, and work out their
          mutually fulfilling participation in the nature.
          Distinguish between ethical and unethical practices, and start working out
          the strategy to actualize a harmonious environment wherever they work.
        </p>
      </div>
    </div>
  </div>

</div>



<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <a routerLink="/service" style="text-decoration: none; color: white; scroll-behavior: auto;"><span>
              <h3>Services</h3>
            </span></a>
          <ul>
            <li>Life Insurance</li>
            <li>Dental & Vision Insurance</li>
            <li> Dental Insurance</li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>Know Us</h3>
          <ul>
            <li><a class="nav" routerLink="/about">About Us</a></li>
            <li><a class="nav" routerLink="/signup">Create Account</a></li>
            <li><a class="nav" routerLink="/contact">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Impetus Insurance</h3>
          <p>
            Understand the value of harmonious relationship based on trust, respect and other naturally acceptable
            feelings in human-human relationships and explore their role in ensuring a harmonious society
            Understand the harmony in nature and existence, and work out their mutually fulfilling participation in the
            nature.
          </p>
        </div>
      </div>
      <p class="copyright">All Copyright Reserved by Impetus © 2021</p>
    </div>
  </footer>
</div>