 <body>
  <div class="header">
    <div>
      <a class="nav" routerLink="/service1">Impetus Insurance</a>
    </div>
    <marquee width="20%" hieght="20%" hspace="150" direction="left" height="80px">
      Invest Today and Enjoy Tomorrow!
    </marquee>
    <div class="header-right">
      <!--<a class="nav-link"routerLink="/uhome">Home</a>-->
      <a class="nav-link" routerLink="/service1">Dashboard</a>
      <a class="nav-link" routerLink="/contact1">Contact Us</a>
      <a class="nav-link" routerLink="/about1">About Us</a>
      <a class="nav-link" routerLink="/login">Logout</a>
      
  </div>
  </div>

  <div class="row" style="margin: 40px; background: linear-gradient(to top left, #ff6600 -31%, #ffffff 100%); height: 200px;">
    <div class="col">
      <div class="logo" style="border:3px solid #ff6600; border-radius:100%; height:150px;width: 150px; background-color: white; margin-left: 30px;">
        <h1 style="text-align: center; margin-top: 38%;">{{finalShort}}</h1>
      
      </div>
    </div>
    <div class="col">
      <h1 style="font-size: 30px; margin-top: 8px; color: #ff6600;">Personal Details</h1>
      <table id="dtHorizontalExample" class="table table-borderless" cellspacing="0">
        <thead>
         
  
  
        </thead>
        <tbody style="font-weight: bold;">
          <tr>
  
            
           
            <td>FirstName</td>
            <td>{{ firstName}}</td>
          </tr>
          <tr>
            <td>LastName</td>
            <td>{{ lastName}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ email}}</td>
          </tr>
        </tbody>
      </table>  
       
    </div>

  </div>
  
             
                
                <div class="row" style="margin: 40px;">
                    <div class="card">
                        <h1 class="card-header" style="background-color: #ff6600; color: white;">Dental Application Details</h1>
                        <div class="card-body">
                            <a class="btn btn-danger" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" 
                            aria-controls="collapseExample" >
                              View Details
                             </a>
                             <a class="btn btn-success"   routerLink="/service1" role="button" style="margin-left: 40px;" >
                               Back
                              </a>
                           
                         
                      </div>
                         <div class="collapse" id="collapseExample">
                           <div class="card card-body">
                               <table id="dtHorizontalExample" class="table table-striped table-bordered table-sm" cellspacing="0" style="margin-top: 30px;">
                                   <thead style="background-color: #ff6600; color:white; text-align:left; width: 100px;">
                                     <th>Details</th>
                                     <th>Values</th>
                             
                             
                                   </thead>
                                   <tbody *ngFor="let user1 of datadental" style="background: linear-gradient(to top left, #ff6600 -31%, #ffffff 100%);">
                                     <tr>
                             
                                       <td>First Name</td>
                                       <td>{{user1.firstName}}</td>
                                     </tr>
                                     <tr>
                                       <td>Middle Name</td>
                                       <td>{{user1.middleNmme}}</td>
                                     </tr>
                                     <tr>
                                       <td>Last Name</td>
                                       <td>{{user1.lastName}}</td>
                                     </tr>
                                     <tr>
                                       <td>Aadhar</td>
                                       <td>{{user1.aadhar}}</td>
                                     </tr>
                                     <tr>
                                       <td>Email</td>
                                       <td>{{user1.email}}</td>
                                     </tr>
                                     <tr>
                                       <td>PAN</td>
                                       <td>{{user1.pan}}</td>
                                     </tr>
                                     <tr>
                                       <td>Address</td>
                                       <td>{{user1.address}}</td>
                                     </tr>
                                     <tr>
                                       <td>Zip</td>
                                       <td>{{user1.zip}}</td>
                                     </tr>
                                     <tr>
                                       <td>City</td>
                                       <td>{{user1.city}}</td>
                                     </tr>
                                     <tr>
                                       <td>State</td>
                                       <td>{{user1.state}}</td>
                                     </tr>
                                     <tr>
                                       <td>Contact</td>
                                       <td>{{user1.contact}}</td>
                                     </tr>
                                     <tr>
                                       <td>Date Of Birth</td>
                                       <td>{{user1.dateOfBirth}}</td>
                                     </tr>
                                     <tr>
                                       <td>Occupation</td>
                                       <td>{{user1.occupation}}</td>
                                     </tr>
                                     <tr>
                                       <td>Income</td>
                                       <td>{{user1.income}}</td>
                                     </tr>
                                     <tr>
                                       <td>Select Plan</td>
                                       <td>{{user1.selectPlane}}</td>
                                     </tr>
                                     <tr>
                                       <td>Gender</td>
                                       <td>{{user1.gender}}</td>
                                     </tr>
                                    
                                     <tr>
                                       <td>Cancelling Insurance</td>
                                       <td>{{user1.cancellingInsurance}}</td>
                                     </tr>
                                     <tr>
                                       <td>Group Insurance</td>
                                       <td>{{user1.groupInsurance}}</td>
                                     </tr>
                                     <tr>
                                       <td>Tobacco</td>
                                       <td>{{user1.tobacco}}</td>
                                     </tr>
                                     <tr>
                                      <td>Members</td>
                                      <td>{{user1.member}}</td>
                                    </tr>
                                     <tr>
                                      <td>Additonal Comment</td>
                                      <td>{{user1.additionalComments}}</td>
                                    </tr>
                                    <tr>
                                      <td>Bank Name</td>
                                      <td>{{user1.bankName}}</td>
                                    </tr>
                                     <tr>
                                      <td> Account Number</td>
                                      <td>{{user1.bankAccountNumber}}</td>
                                    </tr>
                                    <tr>
                                     <td> IFSC Code</td>
                                     <td>{{user1.ifscCode}}</td>
                                   </tr>
                                     <tr>
                                       <td>Status</td>
                                       <td>{{user1.status}}</td>
                                     </tr>
                                     <tr>
                                      <tr *ngIf="user1.status=='Rejected'" >
                                        <td>Reason of Rejection</td>
                                        <td>{{user1.reason}}</td>
                                      </tr>
                                    
                                      <tr>
                                        <td>Application Submit Date</td>
                                        <td>{{user1.submitDate}}</td>
                                      </tr>
                                      <tr>
                                       <td>Annual Policy Payment</td>
                                       <td>{{user1.totalPayAmount}}</td>
                                     </tr>
                                       <tr>
                                         <td>Next Policy Payment Date</td>
                                         <td>{{user1.nextPayment}}</td>
                                       </tr>
                             
      
                                   </tbody>
                                 </table>
                                 <br><br>
                                 <hr>
                               </div>
                             
                              </div>
                    </div>
                </div>


                 


  
                <div class="row" style="margin: 40px;">
                    <div class="card">
                        <h1 class="card-header" style="background-color: #ff6600; color: white;">Life Application Details</h1>
                        <div class="card-body">
                            <a class="btn btn-danger" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" 
                            aria-controls="collapseExample1" >
                              View Details
                             </a>
                             <a class="btn btn-success"   routerLink="/service1" role="button" style="margin-left: 40px;" >
                              Back
                             </a>
                         
                      </div>
                         <div class="collapse" id="collapseExample1">
                           <div class="card card-body">
                               <table id="dtHorizontalExample" class="table table-striped table-bordered table-sm" cellspacing="0">
                                   <thead style="background-color: #ff6600; color:white; text-align:left; width: 100px;">
                                     <th>Details</th>
                                     <th>Values</th>
                             
                             
                                   </thead>
                                   <tbody *ngFor="let user of datalife" style="background: linear-gradient(to top left, #ff6600 -31%, #ffffff 100%);">
                                     <tr>
                             
                                       <td>First Name</td>
                                       <td>{{user.firstName}}</td>
                                     </tr>
                                     <tr>
                                       <td>Middle Name</td>
                                       <td>{{user.middleNmme}}</td>
                                     </tr>
                                     <tr>
                                       <td>Last Name</td>
                                       <td>{{user.lastName}}</td>
                                     </tr>
                                     <tr>
                                       <td>Aadhar</td>
                                       <td>{{user.aadhar}}</td>
                                     </tr>
                                     <tr>
                                       <td>Email</td>
                                       <td>{{user.email}}</td>
                                     </tr>
                                     <tr>
                                       <td>PAN</td>
                                       <td>{{user.pan}}</td>
                                     </tr>
                                     <tr>
                                       <td>Address</td>
                                       <td>{{user.address}}</td>
                                     </tr>
                                     <tr>
                                       <td>Zip</td>
                                       <td>{{user.zip}}</td>
                                     </tr>
                                     <tr>
                                       <td>City</td>
                                       <td>{{user.city}}</td>
                                     </tr>
                                     <tr>
                                       <td>State</td>
                                       <td>{{user.state}}</td>
                                     </tr>
                                     <tr>
                                       <td>Contact</td>
                                       <td>{{user.contact}}</td>
                                     </tr>
                                     <tr>
                                       <td>Date Of Birth</td>
                                       <td>{{user.dateOfBirth}}</td>
                                     </tr>
                                     <tr>
                                       <td>Occupation</td>
                                       <td>{{user.occupation}}</td>
                                     </tr>
                                     <tr>
                                       <td>Income</td>
                                       <td>{{user.income}}</td>
                                     </tr>
                                     <tr>
                                       <td>Select Plan</td>
                                       <td>{{user.selectPlane}}</td>
                                     </tr>
                                     <tr>
                                       <td>Gender</td>
                                       <td>{{user.gender}}</td>
                                     </tr>
                                     
                                     <tr>
                                       <td>Cancelling Insurance</td>
                                       <td>{{user.cancellingInsurance}}</td>
                                     </tr>
                                     <tr>
                                       <td>Group Insurance</td>
                                       <td>{{user.groupInsurance}}</td>
                                     </tr>
                                     <tr>
                                       <td>Tobacco</td>
                                       <td>{{user.tobacco}}</td>
                                     </tr>
                                     <tr>
                                       <td>Hiv Positive</td>
                                       <td>{{user.hivIssue}}</td>
                                     </tr>
                                     <tr>
                                       <td>Lungs Issue</td>
                                       <td>{{user.lungsIssue}}</td>
                                     </tr>
                                  
                                      <tr>
                                        <td>Members</td>
                                        <td>{{user.member}}</td>
                                      </tr>
                                      <tr>
                                      <td>Bank Name</td>
                                      <td>{{user.bankName}}</td>
                                    </tr>
                                     <tr>
                                      <td>Account Number</td>
                                      <td>{{user.bankAccountNumber}}</td>
                                    </tr>
                                    <tr>
                                     <td> IFSC Code</td>
                                     <td>{{user.ifscCode}}</td>
                                   </tr>
                             
                                     <tr>
                                       <td>Status</td>
                                       <td>{{user.status}}</td>
                                     </tr>
                                     <tr *ngIf="user.status=='Rejected'" >
                                      <td>Reason of Rejection</td>
                                      <td>{{user.reason}}</td>
                                    </tr>
                                    <tr>
                                      <td>Application Submit Date</td>
                                      <td>{{user.submitDate}}</td>
                                    </tr>
                                    <tr>
                                     <td>Annual Policy Payment</td>
                                     <td>{{user.totalPayAmount}}</td>
                                   </tr>
                                     <tr>
                                       <td>Next Policy Payment Date</td>
                                       <td>{{user.nextPayment}}</td>
                                     </tr>
                             
                             
                                   </tbody>
                                 </table>
                               
                               </div>
                             
                              </div>
                    </div>
                    <br><br>
                    <hr>
                </div>







                  
                <div  class="row" style="margin: 40px;">
                    <div class="card">
                        <h1 class="card-header" style="background-color: #ff6600; color: white;">Dental & Vision Application Details</h1>
                        <div class="card-body">
                            <a class="btn btn-danger" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" 
                            aria-controls="collapseExample3" >
                              View Details
                             </a>
                             <a class="btn btn-success"   routerLink="/service1" role="button" style="margin-left: 40px;" >
                              Back
                             </a>
                           
                         
                      </div>
                         <div class="collapse" id="collapseExample3">
                           <div class="card card-body">
                               <table id="dtHorizontalExample" class="table table-striped table-bordered table-sm" cellspacing="0">
                                   <thead style="background-color: #ff6600; color:white; text-align:left; width: 100px;">
                                     <th>Details</th>
                                     <th>Values</th>
                             
                             
                                   </thead>
                                   <tbody *ngFor="let user3 of datadv" style="background: linear-gradient(to top left, #ff6600 -31%, #ffffff 100%);">
                                    <tr>

                                      <td>First Name</td>
                                      <td>{{user3.firstName}}</td>
                                    </tr>
                                    <tr>
                                      <td>Middle Name</td>
                                      <td>{{user3.middleNmme}}</td>
                                    </tr>
                                    <tr>
                                      <td>Last Name</td>
                                      <td>{{user3.lastName}}</td>
                                    </tr>
                                    <tr>
                                      <td>Aadhar</td>
                                      <td>{{user3.aadhar}}</td>
                                    </tr>
                                    <tr>
                                      <td>Email</td>
                                      <td>{{user3.email}}</td>
                                    </tr>
                                    <tr>
                                      <td>PAN</td>
                                      <td>{{user3.pan}}</td>
                                    </tr>
                                    <tr>
                                      <td>Address</td>
                                      <td>{{user3.address}}</td>
                                    </tr>
                                    <tr>
                                      <td>Zip</td>
                                      <td>{{user3.zip}}</td>
                                    </tr>
                                    <tr>
                                      <td>City</td>
                                      <td>{{user3.city}}</td>
                                    </tr>
                                    <tr>
                                      <td>State</td>
                                      <td>{{user3.state}}</td>
                                    </tr>
                                    <tr>
                                      <td>Contact</td>
                                      <td>{{user3.contact}}</td>
                                    </tr>
                                    <tr>
                                      <td>Date Of Birth</td>
                                      <td>{{user3.dateOfBirth}}</td>
                                    </tr>
                                    <tr>
                                      <td>Occupation</td>
                                      <td>{{user3.occupation}}</td>
                                    </tr>
                                    <tr>
                                      <td>Income</td>
                                      <td>{{user3.income}}</td>
                                    </tr>
                                    <tr>
                                      <td>Select Plan</td>
                                      <td>{{user3.selectPlane}}</td>
                                    </tr>
                                    <tr>
                                      <td>Gender</td>
                                      <td>{{user3.gender}}</td>
                                    </tr>
                                    <tr>
                                      <td>Last Dental Checkup</td>
                                      <td>{{user3.lastDentalCkeck}}</td>
                                    </tr>
                                    <tr>
                                      <td>Oral Operation</td>
                                      <td>{{user3.oralOperation}}</td>
                                    </tr>
                                    <tr>
                                      <td>Cavity</td>
                                      <td>{{user3.anyCavity}}</td>
                                    </tr>

                                    <tr>
                                      <td>Eye Disease</td>
                                      <td>{{user3.anyEyeDisease}}</td>
                                    </tr>
                                    
                                    <tr>
                                      <td>Wear Glasses</td>
                                      <td>{{user3. wearGlasses}}</td>
                                    </tr>
                                    
                                    <tr>
                                      <td>Eye Operation</td>
                                      <td>{{user3.anyEyeOperation}}</td>
                                    </tr>

                                    <tr>
                                      <td>Cancelling Insurance</td>
                                      <td>{{user3.cancellingInsurance}}</td>
                                    </tr>
                                    <tr>
                                      <td>Group Insurance</td>
                                      <td>{{user3.groupInsurance}}</td>
                                    </tr>
                                    <tr>
                                      <td>Tobacco</td>
                                      <td>{{user3.tobacco}}</td>
                                    </tr>
                                    <tr>
                                      <td>Bank Name</td>
                                      <td>{{user3.bankName}}</td>
                                    </tr>

                                    <tr>
                                      <td>Account Number</td>
                                      <td>{{user3.bankAccountNumber}}</td>
                                    </tr>
                                    <tr>
                                      <td>IFSC Code</td>
                                      <td>{{user3.ifscCode}}</td>
                                    </tr>
                                    
                                    <tr>
                                      <td>Status</td>
                                      <td>{{user3.status}}</td>
                                    </tr>
                                    <tr *ngIf="user3.status=='Rejected'" >
                                      <td>Reason of Rejection</td>
                                      <td>{{user3.reason}}</td>
                                    </tr>
                            
                            
                                    <tr>
                                      <td>Application Submit Date</td>
                                      <td>{{user3.submitDate}}</td>
                                    </tr>
                                    <tr>
                                     <td>Annual Policy Payment</td>
                                     <td>{{user3.totalPayAmount}}</td>
                                   </tr>
                                     <tr>
                                       <td>Next Policy Payment Date</td>
                                       <td>{{user3.nextPayment}}</td>
                                     </tr>
                             
                             
                                   </tbody>
                                 </table>
                                 <br><br>
                                 <hr>
                             
                               </div>
                             
                              </div>
                    </div>
                </div>

                 


  
    
 
</body>