

<div style="margin-top: 50px; margin-left: 200px; margin-right: 200px; background: linear-gradient(to top left, #ff6600 -31%, #ffffff 100%);">

</div>

<div  style="margin-top: 50px; margin-left: 200px; margin-right: 200px;">
   <div style="background-color: blue;">
      
        <a class="btn btn-danger" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" 
         aria-controls="collapseExample" style="margin-left: 76%;">
           View Life Application Details
          </a>
        
      
   </div>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <table id="dtHorizontalExample" class="table table-striped table-bordered table-sm" cellspacing="0">
                <thead style="background-color: black; color:white; text-align:left; width: 100px;">
                  <th>Details</th>
                  <th>Values</th>
          
          
                </thead>
                <tbody *ngFor="let user of datalife">
                  <tr>
          
                    <td>First Name</td>
                    <td>{{user.firstName}}</td>
                  </tr>
                  <tr>
                    <td>Middle Name</td>
                    <td>{{user.middleNmme}}</td>
                  </tr>
                  <tr>
                    <td>Last Name</td>
                    <td>{{user.lastName}}</td>
                  </tr>
                  <tr>
                    <td>Aadhar</td>
                    <td>{{user.aadhar}}</td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td>{{user.email}}</td>
                  </tr>
                  <tr>
                    <td>PAN</td>
                    <td>{{user.pan}}</td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td>{{user.address}}</td>
                  </tr>
                  <tr>
                    <td>Zip</td>
                    <td>{{user.zip}}</td>
                  </tr>
                  <tr>
                    <td>City</td>
                    <td>{{user.city}}</td>
                  </tr>
                  <tr>
                    <td>State</td>
                    <td>{{user.state}}</td>
                  </tr>
                  <tr>
                    <td>Contact</td>
                    <td>{{user.contact}}</td>
                  </tr>
                  <tr>
                    <td>Date Of Birth</td>
                    <td>{{user.dateOfBirth}}</td>
                  </tr>
                  <tr>
                    <td>Occupation</td>
                    <td>{{user.occupation}}</td>
                  </tr>
                  <tr>
                    <td>Income</td>
                    <td>{{user.income}}</td>
                  </tr>
                  <tr>
                    <td>Select Plan</td>
                    <td>{{user.selectPlane}}</td>
                  </tr>
                  <tr>
                    <td>Gender</td>
                    <td>{{user.gender}}</td>
                  </tr>
                  <tr>
                    <td>Account Number</td>
                    <td>{{user.healthIssue}}</td>
                  </tr>
                  <tr>
                    <td>Cancelling Insurance</td>
                    <td>{{user.cancellingInsurance}}</td>
                  </tr>
                  <tr>
                    <td>Group Insurance</td>
                    <td>{{user.groupInsurance}}</td>
                  </tr>
                  <tr>
                    <td>Tobacco</td>
                    <td>{{user.tobacco}}</td>
                  </tr>
                  <tr>
                    <td>Hiv Positive</td>
                    <td>{{user.hivIssue}}</td>
                  </tr>
                  <tr>
                    <td>Lungs Issue</td>
                    <td>{{user.lungsIssue}}</td>
                  </tr>
                  <tr>
                    <td>IFS Code</td>
                    <td>{{user.additionalComments}}</td>
                  </tr>
          
                  <tr>
                    <td>Status</td>
                    <td>{{user.status}}</td>
                  </tr>
                  <tr>
                    <td  >Reason of Rejection</td>
                    <td>{{user.reason}}</td>
                  </tr>
          
          
          
                </tbody>
              </table>
          
            </div>
          
           </div>
      
</div>


<!--#############################################################################################-->
<div  style="margin-top: 50px; margin-left: 200px; margin-right: 200px;">
    <div style="background-color: blue;">
       
         <a class="btn btn-danger" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" 
          aria-controls="collapseExample1" style="margin-left: 76%;">
            View Dental Application Details
           </a>
         
       
    </div>
       <div class="collapse" id="collapseExample1">
         <div class="card card-body">
            <table id="dtHorizontalExample" class="table table-striped table-bordered table-sm" cellspacing="0">
                <thead style="background-color: black; color:white; text-align:left; width: 100px;">
                  <th>Details</th>
                  <th>Values</th>
          
          
                </thead>
                <tbody *ngFor="let user1 of datadental">
                  <tr>
          
                    <td>First Name</td>
                    <td>{{user1.firstName}}</td>
                  </tr>
                  <tr>
                    <td>Middle Name</td>
                    <td>{{user1.middleNmme}}</td>
                  </tr>
                  <tr>
                    <td>Last Name</td>
                    <td>{{user1.lastName}}</td>
                  </tr>
                  <tr>
                    <td>Aadhar</td>
                    <td>{{user1.aadhar}}</td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td>{{user1.email}}</td>
                  </tr>
                  <tr>
                    <td>PAN</td>
                    <td>{{user1.pan}}</td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td>{{user1.address}}</td>
                  </tr>
                  <tr>
                    <td>Zip</td>
                    <td>{{user1.zip}}</td>
                  </tr>
                  <tr>
                    <td>City</td>
                    <td>{{user1.city}}</td>
                  </tr>
                  <tr>
                    <td>State</td>
                    <td>{{user1.state}}</td>
                  </tr>
                  <tr>
                    <td>Contact</td>
                    <td>{{user1.contact}}</td>
                  </tr>
                  <tr>
                    <td>Date Of Birth</td>
                    <td>{{user1.dateOfBirth}}</td>
                  </tr>
                  <tr>
                    <td>Occupation</td>
                    <td>{{user1.occupation}}</td>
                  </tr>
                  <tr>
                    <td>Income</td>
                    <td>{{user1.income}}</td>
                  </tr>
                  <tr>
                    <td>Select Plan</td>
                    <td>{{user1.selectPlane}}</td>
                  </tr>
                  <tr>
                    <td>Gender</td>
                    <td>{{user1.gender}}</td>
                  </tr>
                  <tr>
                    <td>Account Number</td>
                    <td>{{user1.healthIssue}}</td>
                  </tr>
                  <tr>
                    <td>Cancelling Insurance</td>
                    <td>{{user1.cancellingInsurance}}</td>
                  </tr>
                  <tr>
                    <td>Group Insurance</td>
                    <td>{{user1.groupInsurance}}</td>
                  </tr>
                  <tr>
                    <td>Tobacco</td>
                    <td>{{user1.tobacco}}</td>
                  </tr>
          
                  <tr>
                    <td>IFS Code</td>
                    <td>{{user1.additionalComments}}</td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td>{{user1.status}}</td>
                  </tr>
                  <tr  >
                    <td  >Reason of Rejection</td>
                    <td>{{user1.reason}}</td>
                  </tr>
          
          
          
                </tbody>
              </table>
          
             </div>
           
            </div>
       
 </div>
 




 
<!--#############################################################################################-->
<div  style="margin-top: 50px; margin-left: 200px; margin-right: 200px;">
    <div style="background-color: blue;">
       
         <a class="btn btn-danger" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" 
          aria-controls="collapseExample2" style="margin-left: 76%;">
            View Dental & Vision Application Details
           </a>
         
       
    </div>
       <div class="collapse" id="collapseExample2">
         <div class="card card-body">
             <table id="dtHorizontalExample" class="table table-striped table-bordered table-sm" cellspacing="0">
                 <thead style="background-color: black; color:white; text-align:left; width: 100px;">
                   <th>Details</th>
                   <th>Values</th>
           
           
                 </thead>
                 <tbody *ngFor="let user3 of datadv">
                   <tr>
           
                     <td>First Name</td>
                     <td>{{user3.firstName}}</td>
                   </tr>
                   <tr>
                     <td>Middle Name</td>
                     <td>{{user3.middleNmme}}</td>
                   </tr>
                   <tr>
                     <td>Last Name</td>
                     <td>{{user3.lastName}}</td>
                   </tr>
                   <tr>
                     <td>Aadhar</td>
                     <td>{{user3.aadhar}}</td>
                   </tr>
                   <tr>
                     <td>Email</td>
                     <td>{{user3.email}}</td>
                   </tr>
                   <tr>
                     <td>PAN</td>
                     <td>{{user3.pan}}</td>
                   </tr>
                   <tr>
                     <td>Address</td>
                     <td>{{user3.address}}</td>
                   </tr>
                   <tr>
                     <td>Zip</td>
                     <td>{{user3.zip}}</td>
                   </tr>
                   <tr>
                     <td>City</td>
                     <td>{{user3.city}}</td>
                   </tr>
                   <tr>
                     <td>State</td>
                     <td>{{user3.state}}</td>
                   </tr>
                   <tr>
                     <td>Contact</td>
                     <td>{{user3.contact}}</td>
                   </tr>
                   <tr>
                     <td>Date Of Birth</td>
                     <td>{{user3.dateOfBirth}}</td>
                   </tr>
                   <tr>
                     <td>Occupation</td>
                     <td>{{user3.occupation}}</td>
                   </tr>
                   <tr>
                     <td>Income</td>
                     <td>{{user3.income}}</td>
                   </tr>
                   <tr>
                     <td>Select Plan</td>
                     <td>{{user3.selectPlane}}</td>
                   </tr>
                   <tr>
                     <td>Gender</td>
                     <td>{{user3.gender}}</td>
                   </tr>
                   <tr>
                     <td>Account Number</td>
                     <td>{{user3.healthIssue}}</td>
                   </tr>
                   <tr>
                     <td>Cancelling Insurance</td>
                     <td>{{user3.cancellingInsurance}}</td>
                   </tr>
                   <tr>
                     <td>Group Insurance</td>
                     <td>{{user3.groupInsurance}}</td>
                   </tr>
                   <tr>
                     <td>Tobacco</td>
                     <td>{{user3.tobacco}}</td>
                   </tr>
                   <tr>
                     <td>Hiv Positive</td>
                     <td>{{user3.hivIssue}}</td>
                   </tr>
                   <tr>
                     <td>Lungs Issue</td>
                     <td>{{user3.lungsIssue}}</td>
                   </tr>
                   <tr>
                     <td>IFS Code</td>
                     <td>{{user3.additionalComments}}</td>
                   </tr>
           
                   <tr>
                     <td>Status</td>
                     <td>{{user3.status}}</td>
                   </tr>
                   <tr>
                     <td  >Reason of Rejection</td>
                     <td>{{user3.reason}}</td>
                   </tr>
           
           
           
                 </tbody>
               </table>
           
             </div>
           
            </div>
       
 </div>
 